$xl-bp: 1920px;
$xm-bp: 1024px;
$xs-bp: 550px;

// colors
$black: #0e0e0e;
$black_hover: rgba(14, 14, 14, 0.6);
$white: rgb(244, 244, 244);
$white_hover: rgba(244, 244, 244, 0.6);
$orange: rgb(240, 125, 0);
$orange_hover: rgba(240, 124, 0, 0.6);
$grey: rgb(142, 142, 142);
$grey_hover: rgba(142, 142, 142, 0.6);
$red: rgb(240, 0, 0);
$red_hover: rgba(240, 0, 0, 0.6);
