---
import { Sprite } from "astro-icon";
---

<section class="counter">
  <div class="counter__spinner">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <counter-element>
    <div class="counter__container">
      <span class="counter__count">0</span>
      <div class="counter__inner">
        <button type="button" class="counter__btn counter__btn_dec">
          <Sprite name="minus-icon" fill="red" />
          <!-- <Sprite name="ei:minus" /> -->
        </button>
        <button type="button" class="counter__btn counter__btn_inc">
          <Sprite name="plus-icon" />
          <!-- <Sprite name="ei:plus" /> -->
        </button>
      </div>
    </div>
  </counter-element>
</section>
